@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  
}
:root{
  --cor0: #052159;
  --cor1: #031D40;
  --cor2: #0F528C;
}
a{
  display: flex;
  align-items: center;
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 6px 6px 0px 0px;
}
nav li{
  cursor: pointer;
}
body {
  display: flex;
  cursor: default;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, var(--cor0),var(--cor2),var(--cor1));
    background-attachment: fixed;

  }
  #meuTitulo{
    position: relative;
    font-size: 3em;
    text-align: center;
    color: transparent;
    transition-duration: 3.5s;
    left: -100px;
  }
  header {
    text-indent: 10px;
    background-image: linear-gradient(to right, var(--cor0), var(--cor2),black);
    background-repeat: no-repeat;
    width: 100%;
  }
  header nav ul{
    display: flex;
    font-size: 1.5em;
    margin: 10px auto 0px auto;
    width: 90%;
    justify-content: space-evenly;
    list-style: none;
  }
  header nav ul li a:hover{
    transition-duration: 0.4s;
    color: var(--cor1);
    background-color: black;
  }
  p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
  }
  ul{
    margin: 20px;
  }
  #listinha,#lista, #textop{
    position: relative;
    color: transparent;
    transition-duration: 1s;
    
    left: -8px;
  }
  main{
    width: 100%;
    min-height: 600px;
    max-width: 1000px;
  }
  section{

    transition-duration: 2s;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
    border: 6px solid var(--cor1);
  }
  article{
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  img{
    width: 100%;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-indent: 10px;
  }
  #gemini{
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  footer{
    position: absolute;
    bottom: 5px;
  }
