@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

:root {
  --cor0: #052159;
  --cor1: #031D40;
  --cor2: #0F528C;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-indent: 10px;
  padding: 20px 0px;
  background-image: url("../imagem/modern.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
nav a {
  display: block;
  color: white;
  padding: 5px;
  text-indent: 0px;
  text-decoration: none;
  border-radius: 6px;
}
#menuhome{
  position: absolute;
  left: 0px;
  top: 2px;
  font-size: 2em;
}
nav li {
  cursor: pointer;
}

body {
  display: flex;
  cursor: default;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-image: linear-gradient(to bottom, var(--cor0), var(--cor2), var(--cor1));
  background-attachment: fixed;

}

#meuTitulo {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-size: 2.6em;
  text-align: center;
  color: transparent;
  transition-duration: 3.5s;
  left: -100px;
}


header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin: 10px 5px;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;
}
header nav ul li a:hover {
  transition-duration: 0.4s;
  font-weight: bolder;
  background-color: #05215936;
}

p{
  text-align: justify;
  text-indent: 40px;
  word-spacing: 3px;
  font-size: 0.86em;
}
div ul li {
  text-indent: 0px;
  margin: 20px;
}

#listinha,
#lista,
#textop {
  position: relative;
  color: transparent;
  transition-duration: 1s;
  left: -8px;
}

main {
  border: 3px solid var(--cor0);
  background-color: white;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
}

h2{
  font-family: "Libre Baskerville", serif;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.192);
  color: rgb(0, 230, 230);
  font-size: 1.1em;
  text-align: center;
}
section {
  transition-duration: 2s;
  padding: 5px;
  border-radius: 4px;
  border: 6px solid var(--cor1);
}

article {
  display: flex;
  justify-content: center;
  margin: 10px;
}

img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-indent: 10px;
}

#gemini {
  font-size: 1.4em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: white;
  text-indent: 0px;
}
#gemini div:hover{
  transition-duration: 1s;
  color: yellow;
}
#hero {
  height: 100%;
}
@media screen and (min-width: 400px){
  #gemini {
    font-size: 1.4em;
  }
  #meuTitulo{
    font-size: 4em;
  }
    .container {
      font-size: 1.2em;
    }
}
@media screen and (min-width: 720px){
  #menuhome{
    font-size: 3em;
  }
  #meuTitulo{
    font-size: 5em;
  }
  .container {
    font-size: 1.6em;
  }
  header nav ul {
    flex-direction: row;
  }
  nav a {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 1000px){
  #menuhome{
    font-size: 4.5em;
  }
  #meuTitulo{
    font-size: 6em;
  }
  .container {
    font-size: 2em;
  }
  nav a {
    font-size: 2em;
  }
}